h1{
    color:blue
}

th, td {
    padding: 0.5rem;
    text-align:center;
    border: 2 px;
}

.red-title {
    color:red;
    font-size: 30px;
    font-style:italic;
}

.blue-title {
    color:blue;
    font-size: 20;
    font-style:normal
}

h1, h2 {
    color: #004080;
}

h3 {
    text-align: center;
    color: #0073e6;
    margin-top: 1.5rem;
}

.news-block {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.news-block p {
    margin: 0.5rem 0;
}

/* Tablolar */
table {
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 0.5rem;
    text-align: center;
    border: 2px solid;
}

/* Araba Markaları Tablosu */
.red-border {
    width: 90%;
}



h3{
    color:chartreuse; 
    margin: 100px;
}

.red-border th, .red-border td {
    border-color: red;
}

.table1 th,
.table1 td {
    border-color: red
}


.table2 th,
.table2 td{
    border: 2px solid rgb(21, 60, 189)
}

div{
    width: 300px;
    margin:auto
}
